form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1em;
    max-width: 500px;
    margin: 0 auto;
    gap: 1em;
}

form>* {
    padding: 1em;
}

.new-migraine-container>div:first-child {
    background: var(--darkest);
    box-shadow: var(--shadow-solid-orange);
    border-radius: 10px;
    padding-top: 2em;
    padding-bottom: 2em;
}

.signup,
.signin {
    margin: 1em;
    max-width: 600px;
}

.form-sign-up-div {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="date"],
form input[type="datetime-local"],
form textarea,
form select {
    background: white;
    border: none;
    border-radius: 0;
    box-shadow: var(--shadow-solid-lilac);
    padding: .5em;
    width: 100%;
}

form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="password"]:focus,
form input[type="date"]:focus,
form input[type="datetime-local"]:focus,
form textarea:focus,
form select:focus {
    border: none;
    outline: none;
    box-shadow: var(--shadow-solid-mint);
}

.new-migraine-form {
    padding-top: 2em;
    padding-bottom: 2em;
}

.new-migraine-form>section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    width: 100%;
}

.new-migraine-container .phases {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}

.new-migraine-container .phase-checkbox *,
.new-migraine-container .tracker-category-checkbox * {
    cursor: pointer;
}

.new-migraine-form h3 {
    text-align: center;
    font-size: 1.5em;
    font-weight: 500;
}

.btn-select {
    background: transparent;
    border: 2px solid white;
}

.migraine-over-selector {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1em;
}

form button {
    margin: 1em;
    background: var(--orange);
    color: white;
    border: 3px solid var(--darkest);
    box-shadow: 7px 7px 0px var(--mint-green);
    transition: .5s;
    cursor: pointer;
}

form button:hover {
    box-shadow: 7px 7px 0 var(--lilac);
    transform: scale(.95);
}

textarea {
    resize: vertical;
    min-height: 50vh;
}

input[type="range"] {
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: linear-gradient(90deg, var(--mint-green) 0%, var(--orange) 97.01%);
    border-radius: 50px;
}

/* Pain intensity range */
input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    -webkit-appearance: none;
    height: 50px;
    width: 12px;
    border-radius: 50px;
    background: white;
    cursor: ew-resize;
}

input[type=range]::-webkit-slider-runnable-track {
    appearance: none;
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}


/* Display checkboxes as buttons */
.trackers-list {
    margin: 1em auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.tracker-checkbox {
    background-color: transparent;
    border: 2px solid white;
    width: auto;
}

.tracker-checkbox * {
    cursor: pointer;
}

.tracker-checkbox label span {
    text-align: center;
    padding: .5em 1em;
    display: block;
    transition: .5s;
}

.tracker-checkbox label input {
    display: none;
}

.tracker-checkbox input:checked+span {
    background-color: var(--orange);
    color: #fff;
}

/* Phases & trackers categories checkboxes */

.new-migraine-container .trackers {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1em;
    overflow-x: auto;
    position: relative;
    padding: 0 1.5em 1.5em;
    /* Mozilla firefox */
    scrollbar-color: var(--dark-blue) transparent;
    scrollbar-width: thin;
}

.trackers::-webkit-scrollbar {
    width: 5px;
}

/* Ascenseur */
.trackers::-webkit-scrollbar-thumb {
    background: var(--dark-blue);
    border-radius: 8px;
    transition: .5s;
    border: 2px solid var(--dark-blue);
}

.trackers::-webkit-scrollbar-thumb:hover {
    background: #464e5c;
    border-radius: 8px;
}

.trackers::-webkit-scrollbar-track {
    background: #697994;
    /* border: 2px solid var(--orange); */
    border-radius: 8px;
}

.new-migraine-container .phases {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    row-gap: 2em;
    column-gap: 1em;
    padding: 0;

}

.phases div:first-child {
    width: 100%;
}

.trackers-section {
    position: relative;
}

.phase-checkbox,
.tracker-category-checkbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    width: 100px;
}


.tracker-subcategory {
    margin: 2em auto .5em;
    border-bottom: 1px solid white;
    font-size: 1.5em;
    font-weight: 300;
}

.trackers-list-selector {
    display: flex;
    flex-wrap: wrap;
    gap: .5em;
}


.phase-checkbox .phase-img,
.trackers .tracker-cat-img {
    text-align: center;
    display: block;
    background-color: var(--dark-blue);
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid white;
    width: 90px;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.trackers h3 {
    font-weight: 300;
    font-size: 1.2em;
    hyphens: auto;

}

.phase-checkbox label input,
.trackers label input {
    display: none;
}

.phase-checkbox input:checked+.phase-img {
    background-color: var(--lilac);
    color: #fff;
}

.trackers input:checked+.tracker-cat-img {
    background-color: var(--orange);
    color: #fff;
}

/* Intensity */
.intensity-description {
    border: 1px solid white;
    width: 100%;
    margin: 2em auto;
    padding: 1em;
    min-height: 190px;
}

.intensity-header {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 1.5em;
    margin-bottom: 1em;
}

.arrow {
    display: flex;
    align-items: center;
    position: absolute;
    height: 100%;
    z-index: 10;
    font-size: 2em;
    margin-top: -25px;
}

.arrow.arrow-left {
    left: 0;
}

.arrow.arrow-right {
    right: 0;
}