header {
	display: flex;
	justify-content: space-between;
	background: var(--darkest);
	position: fixed;
	width: 100%;
	padding: 1em;
	top: 0;
	z-index: 1000;
}

nav.top-nav {
	height: calc(100vh);
	display: flex;
	align-items: flex-end;
	flex-direction: column;
	background: var(--darkest);
	gap: 5%;
	padding: 4em 2em 1em 1em;
	box-shadow: -5px 5px 10px rgba(211, 207, 255, 0.24);
}

nav.top-nav span {
	cursor: pointer;
}

.side-menu {
	z-index: 2000;
}

nav.top-nav span {
	font-size: 1.8em;
	text-align: right;
}

header .logo img {
	height: 2.5em;
}

#burger-menu-container {
	cursor: pointer;
}

.nav-new-migraine-button {
	background: var(--mint-green);
	width: 90%;
	padding: 1em;
	text-align: center;
	color: var(--dark-blue);
	text-transform: uppercase;
	font-weight: 500;
	transition: .5s;
}

.nav-new-migraine-button:hover {
	box-shadow: 0 0 10px 5px rgb(211 207 255 / 30%);
	color: white;
}