.profile-new-migraine-button {
    background: var(--mint-green);
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1em;
    text-align: center;
    color: var(--dark-blue);
    text-transform: uppercase;
    font-weight: 500;
}

.profile,
.stats-page {
    margin: 1em;
}

.profile h1,
.stats-page h1 {
    font-family: var(--abril);
    text-align: center;
    font-size: 3em;
    font-weight: normal;
}

.profile .edit-profile {
    text-align: right;
    margin-bottom: 1em;
}

main>:first-child {
    padding-bottom: 3em !important;
}

.new-migraine-container {
    padding: 1em;
}

.empty-journal {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    padding: 1em 0;
}

.empty-journal span {
    font-size: 1.5em;
}

.migraine-journal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.migraine-journal .migraine-card {
    width: 100%;
    background: var(--dark-blue);
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 1em auto;
    padding: 1.5em;

    transition: .5s;
    cursor: pointer;
}

.migraine-journal .migraine-card .migraine-card-body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.migraine-journal .migraine-card:hover {
    box-shadow: var(--shadow-solid-light-grey);
    transform: scale(.95);
}